ELS-Cinematic/bin/Debug/RAGENativeUI.dll
ELS-Cinematic/bin/Debug/RAGENativeUI.xml
ELS-Cinematic/bin/Debug/RagePluginHookSDK.dll
ELS-Cinematic/bin/Debug/RagePluginHookSDK.xml
.vs/ELS-Cinematic-SVnet/v16/.suo
.vs/ELS-Cinematic-SVnet/v16/Server/sqlite3/db.lock
.vs/ELS-Cinematic-SVnet/v16/Server/sqlite3/storage.ide
.vs/ELS-Cinematic/v16/.suo
.vs/ELS-Cinematic/v16/Server/sqlite3/storage.ide
ELS-Cinematic-SVnet/.vs/ELS-Cinematic-SVnet/v16/.suo
ELS-Cinematic-SVnet/.vs/ELS-Cinematic-SVnet/v16/Server/sqlite3/db.lock
ELS-Cinematic-SVnet/.vs/ELS-Cinematic-SVnet/v16/Server/sqlite3/storage.ide
ELS-Cinematic-SVnet/bin/Debug/ScriptHookVDotNet3.dll
ELS-Cinematic-SVnet/bin/Debug/ScriptHookVDotNet3.xml
ELS-Cinematic-SVnet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ELS-Cinematic-SVnet/obj/Debug/ELS-Cinematic-SVnet.csproj.CopyComplete
ELS-Cinematic-SVnet/obj/Debug/ELS-Cinematic-SVnet.csproj.FileListAbsolute.txt
ELS-Cinematic-SVnet/obj/Debug/ELS-Cinematic-SVnet.csprojAssemblyReference.cache
